@keyframes fade-in-animation {
  0% { transform: translateY(10vh); }
  60% { transform: translateY(0vh); }
  90% { transform: translateY(0vh); }
  100% { transform: translateY(0vh); }
}

.fade-in {
  animation: fade-in-animation 1s cubic-bezier(.5, .5, 0, 1);
}
