.ProjectCard {
  margin-right: 3vh;
  margin-bottom: 10vh;

  .image-background {
    height: 13vh;
    width: 25vh;
    margin-bottom: 1vh;
    background: var(--primary);

    .image {
      height: 100%;
      width: 100%;
      transition: 0.2s;
      image-rendering: pixelated;
    }

    &:hover {
      .image {
        transform: translate(.5vh, -.5vh);
      }
    }
  }

  .project-title {
    margin-bottom: 1vh;
    font-weight: bold;
    font-size: 2vh;
    color: var(--title);
  }

  .badges {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .badge {
      font-size: 1.5vh;
      margin-right: .5vh;
      background: var(--badge-bg);
      border-radius: 99vh;
      width: fit-content;

      .badge-text {
        margin: 1vh;
        color: var(--badge-text);
      }
    }
  }
}
