.ExperienceCard {
  width: 20vw;
  height: 12vh;
  border-radius: 2vh;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  position: absolute;

  &.work {
    right: 8.8%;

    .line {
      left: -10.5%;
    }
  }

  &.education {
    left: 3%;

    .line {
      right: -11%;
    }
  }

  .line {
    position: absolute;
    top: -51%;
    border-left-width: 0.4vh;
    border-left-style: solid;
    height: 10vh;
  }

  .experience-title {
    position: absolute;
    top: 0;
    left: 5%;
    font-size: 2vh;
  }

  .experience-link {
    position: absolute;
    top: 37%;
    left: 5%;
    font-size: 1.5vh;
    font-weight: bold;
    text-decoration: none;
  }

  .experience-date {
    position: absolute;
    top: 55%;
    left: 5%;
    font-size: 1.5vh;
  }

  .experience-location {
    position: absolute;
    top: 70%;
    left: 5%;
    font-size: 1.5vh;
  }

  .circle {
    height: 3vh;
    width: 3vh;
    position: absolute;
    top: 37%;
    border-radius: 50%;
    border-width: .3vh;
    border-style: solid;

    &.work {
      left: -15%;
    }

    &.education {
      right: -15%;
    }
  }
}
