html {
  --bg: #121212;
  --bg-light: #161515;
  --header: #333333;
  --primary: #772CE8;
  --badge-bg: #6B6B6B;
  --card-bg: #333333;
  --title: white;
  --text: white;
  --badge-text: white;
  --experience-title: white;
  --experience-link: #4E44DC;
  --experience-date: white;
  --experience-location: rgba(255, 255, 255, 0.75);
}

html[data-theme='light'] {
  --bg: #f3f3f3;
  --bg-light: #f8f8f8;
  --header: #333333;
  --primary: #772ce8;
  --badge-bg: #6B6B6B;
  --card-bg: #EFEEFF;
  --title: #333333;
  --text: #333333;
  --badge-text: white;
  --experience-title: #4E44DC;
  --experience-link: #333333;
  --experience-date: #4E44DC;
  --experience-location: rgba(78, 68, 220, 0.75);
}
