.HomePage {
  height: 100vh;
}

.container {
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translateX(+50%);

  .titles {
    text-align: center;
    display: grid;

    .title {
      font-size: 5vh;
    }

    .subtitle {
      font-size: 3vh !important;
      padding-top: 2vh;
      padding-bottom: 1vh;
    }
  }

  .links {
    display: flex;
    justify-content: center;

    .githubicon {
      font-size: 5.5vh;
      padding-top: 0.8vh;
      margin-right: 3vh;
    }

    .emailicon {
      font-size: 7vh;
      margin-right: 3vh;
    }

    .linkedinicon {
      font-size: 7vh !important;
    }
  }
}
