.container {
  color: white;
  position: absolute;
  top: 40%;
  right: 37%;

  .titles {
    text-align: center;
    font-size: 5vh;
    display: grid;
  }

  .title {

  }

  .subtitle {
    font-size: 3vh !important;
    padding-top: 2vh;
    padding-bottom: 1vh;
  }

  .links {
    display: flex;
    justify-content: center;

    .githubicon {
      font-size: 5.5vh;
      padding-top: 0.8vh;
      margin-right: 3vh;
      color: white;
    }

    .linkedinicon {
      font-size: 7vh !important;
      color: white;
    }
  }
}
