#container {
  width: 100%;
  height: 5vh;
  background: #333333;
  margin: 0;
  padding: 0;
}

#navigation-container {
  margin-left: 8vh;
  height: inherit;
}

#navigation {
  margin: 0;
  padding: 0;
  height: inherit;
  display: flex;
  align-items: center;
}

li {
  display: inline-block;
  font-size: 2vh;
  margin-right: 2.5vh;
  color: white;
  cursor: pointer;
}

.unselected {
  &:after {
    content: '';
    display: block;
    margin: auto;
    height: 0.2vh;
    width: 0;
    background: transparent;
    transition: width .4s ease, background-color .4s ease;
  }

  &:hover {
    &:after {
      width: 40%;
      background: white;
    }
  }
}

.selected {
  &:after {
    content: '';
    display: block;
    margin: auto;
    height: 0.2vh;
    width: 100%;
    background: white;
    transition: width .4s ease, background-color .4s ease;
  }
}
